<h3>Neues zur Sicherheit im Netz</h3>
<div>
  <ul>
    <li 
      *ngFor="let article of articles"
      [ngClass]="{'danger': '3' === article.level, 'warning': '2' === article.level, 'good': '1' === article.level}" >
      <p class="list-item" routerLink="/article/{{article.id}}">
        <span class="label">Titel:</span> {{article.title}}
        <br/>
        <span class="label">Stufe:</span> {{article.level}}
        <br/>
        <span class="label">Inhalt:</span> <span  class="preview-msg">{{article.body.slice(0,99)}}...</span>
      </p>
    </li>
  </ul>
</div>
